<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= image_tag @user.avatar.profile.url unless @user.avatar.blank? %>
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar %>
      <p><%= f.check_box :remove_avatar %>Remove avatar </p><br>


      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control', placeholder: current_user.first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', :required => true%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>